@charset "UTF-8";
.container {
  height: calc(90vh);
  margin-top: 2vh;
}

.footer {
  position: absolute;
  bottom: 0;
  left: -0.5vw;
  width: 100vw;
  height: 6vh; /* Set the fixed height of the footer here */
  line-height: 5vh; /* Vertically center the text there */
  background-color: gainsboro;
  color: black;
  font-size: small;
}

.status {
  font-size: 1.5rem;
  margin: 2vh;
  color: var(--primary-color);
}
.heading {
  font-size: 2.5rem;
  margin-top: 2vh;
}
.product-image {
  width: 20vw;
  margin: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
